/* Google font */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-bottom: 10px;
    font-family: 'ABeeZee', sans-serif;
    color: rgb(253, 251, 249);
    background: url("../image/background.jpg") no-repeat center center/cover;
    user-select: none;
    cursor: pointer;
}

#rules {
    font-size: 80%;
    margin: .5rem;
    cursor: pointer;
    background: transparent;
    border: none;
    color: inherit;
}

#rules:hover {
    transform: scale(1.5);
}

h1 {
    text-align: center;
}

.box {
    width: 250px;
    height: 350px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    margin-top: 5px;
    background: url("../image/back3.png") no-repeat center center/cover;
    

}
/* Modal drop */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100vw; 
    height: 100vh; 
    overflow: auto; 
    /* animation code belongs to https://www.youtube.com/watch?v=B0_M1y4aFAQ Net Ninja  */
    top: -800px;
    animation: drop 0.8s ease-in-out forwards;
}
@keyframes drop{
    0%{}
    70%{ transform: translateY(700px)}
    100%{ transform: translateY(650px)}
}

.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    padding: 20px;
    border: 3px solid black;
    border-radius: 20px;
    max-width: 40%;
    font-size: 150%;
    background: gray;
}

#game-rules {
    margin-left: 10px;
}

.exit {
    font-size: 110%;
    text-decoration: underline;
    margin: 45%;
    
}

.exit:hover,
.exit:focus {
    text-decoration: none;
    cursor: pointer;
  }

.card-select {
    margin: auto;
    border: 3px solid black;
}

.cards {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100vw; 
    height: 84vh; 
    overflow: auto; 
    /* animation code belongs to https://www.youtube.com/watch?v=B0_M1y4aFAQ Net Ninja page */
    top: 100px;
    animation: pop-in 0.6s ease-in-out forwards;
}
@keyframes pop-in {
    0% { opacity: 0; transform: scale(0.1); }
    100% { opacity: 1; transform: scale(1); }
}

/* code learned from https://www.youtube.com/watch?v=Dy8cAfO0wAk Shihabiiuc page */
::-webkit-scrollbar {
    width: 0;
}

.shoot {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.select {
    width: 200px;
    height: 250px;
}

.select:hover {
    transform: scale(1.1);
}

#card-list {
    list-style: none;

}
#refresh {
    font-size: 250%;
    color: rgb(3, 75, 3);
    background: transparent;
    border: none;
    cursor: pointer;
}

#refresh:hover {
    transform: rotate(90deg) scale(1.2);

}

#start {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip {
    width: 250px;
    /* height: 360px; */
    /* border: 2px solid whitesmoke; */
    /* border-radius: 5px; */
    margin-top: 10px;
}


.game-area {
    display:flex;
    justify-content:center;
    align-items: center;
    gap: 5px;

}

.fence {
    width: 95%;
    height: 7px;
    border: none;
    margin: auto;
    background-color: gray;

}

.count {
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 10px;
    font-size: 150%;
    gap: 10px;
    
}
@media screen and (max-width: 320px) {

    body {
        margin: 10px;
    }
    h1 {
        font-size: 130%;
    }

    .count {
        font-size: 100%;
    }
    .box {
        width: 100px;
        height: 150px;
    }
    .modal-content {
        font-size: 60%;
    }
    .flip {
        width: 100px;
        height: 150px;
    }
    .modal-content {
        max-width: 100%;
        font-size: 80%;
    }
    .modal {
        top: -700px;
    }
   
    .select {
        width: 95px;
        height: 130px;
    }

    .cards {
        top: 55px;
    }
}

@media screen and (max-width: 768px) {
    .modal-content {
        max-width: 90%;
    }
}