/* Google font */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    height: 100%;
    font-family: 'ABeeZee', sans-serif;
    color: rgb(253, 251, 249);
    background: url("../image/background.jpg") no-repeat center center/cover;
}

#rules {
    font-size: 110%;
    margin: .5rem;
    cursor: pointer;
}

#rules:hover {
    transform: scale(1.5);
}

h1 {
    text-align: center;
    margin-top: 1rem;
}

.box {
    width: 250px;
    height: 350px;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 10px;

}

.flip {
    width: 250px;
    height: 350px;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 10px;
}

.game-area {
    display:flex;
    justify-content:center;
    align-items: center;
    gap: 5px;

}

.fence {
    width: 95%;
    height: 7px;
    border: 0 none;
    margin: auto;
    background-color: gray;

}

.count {
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 10px;
    font-size: 150%;
    gap: 10px;
    
}
