/* Google font */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-bottom: 10px;
    font-family: 'ABeeZee', sans-serif;
    color: rgb(253, 251, 249);
    background: url("../image/background.jpg") no-repeat center center/cover;
    user-select: none;
}

#rules {
    font-size: 80%;
    margin: .5rem;
    cursor: pointer;
    background: transparent;
    border: none;
    color: inherit;
}

#rules:hover {
    transform: scale(1.5);
}

h1 {
    text-align: center;
}

.box {
    width: 250px;
    height: 350px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    margin-top: 10px;
    background: url("../image/back3.png") no-repeat center center/cover;
    

}

#refresh {
    font-size: 500%;
    color: rgb(27, 78, 35);
    background: transparent;
    border: none;
    cursor: pointer;
}

#refresh:hover {
    transform: scale(1.5);
}

#start {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip {
    width: 250px;
    height: 350px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    margin-top: 10px;
}

.game-area {
    display:flex;
    justify-content:center;
    align-items: center;
    gap: 5px;

}

.fence {
    width: 95%;
    height: 7px;
    border: none;
    margin: auto;
    background-color: gray;

}

.count {
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 10px;
    font-size: 150%;
    gap: 10px;
    
}
@media screen and (max-width: 400px) {

    body {
        margin: 10px;
    }
    h1 {
        font-size: 150%;
    }
    .box {
        width: 200px;
        height: 250px;
    }
    .flip {
        width: 200px;
        height: 250px;
    }
}